$break-phone-small: 400px;
$break-phone-wide: 480px;
$break-phablet: 560px;
$break-tablet-small: 640px;
$break-tablet: 768px;
$break-tablet-wide: 992px;
$break-desktop-sm: 1025px;
$break-desktop-bs: 1100px;
$break-desktop: 1248px;
$break-desktop-wide: 1440px;
$break-desktop-max: 1560px;