$poppins: poppins;

$base-font: $poppins, sans-serif;

//bf = base-font
$bf-thin: 200;
$bf-light: 300;
$bf-regular: 400;
$bf-medium: 500;
$bf-semi-bold: 600;
$bf-bold: 700;
$bf-extrabold: 800;
$bf-black: 900;